@import "tailwindcss";

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
  pointer-events:all
}

button:hover {
  cursor: pointer;
}

button {
  color:#213547;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #fefaee;
  }
  a:hover {
    color: #e1ddd3;
  }
  button {
    background-color: #fefaee;

  }
  button:hover {
    background-color: #fefaee;
  }
}

body {
  font-family: ui-monospace, monospace; /* Monospace font */
}

:root {
  background-color: #fefaee;
}

.nav-link {
  @apply text-gray-700 hover:text-gray-900 font-mono;
}

.product-filter {
  @apply px-4 sm:px-6 py-2.5 text-sm sm:text-base capitalize transition-colors min-h-[44px];
}

.btn-base {
  @apply sm:px-6 py-2.5 text-sm sm:text-base capitalize transition-colors min-h-[44px];
}

.cart-btn:hover { 
  background-color: transparent;
}

.language-btn {
  @apply text-xs px-2 py-1
}

.mobile-menu {
  @apply flex flex-col space-y-8 h-screen
}

.desktop-nav {
  @apply hidden md:flex justify-between w-[60%]
}

.languageContainer {
  position: absolute;
  top: 0;
  right: 0;
}